extends layout

block layout-content
  div.View
    h1.Banner Sealink logistics
    div.Message
      div.Title
        h3 sea link
        h1 logs
      span.Details Access the sll Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!